@import "../../../assets/styles/variables";

.tabs {
  display: flex;
  border-bottom: 2px solid $border-colour-active;
  gap: 0.5rem;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: $font-colour-secondary;
  position: relative;
  transition: color 0.2s ease;

  &.active {
    color: $font-colour-primary;
    background-color: $tabs-bg;
    font-weight: bold;

    border: 2px solid $border-colour-active;
    border-bottom: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    // background-color: $body-bg;

    margin-bottom: -2px;
    z-index: 1;
  }

  &:hover {
    color: $font-colour-primary;
  }
}
